services:
  auth_database:
    container_name: auth-postgres
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: ${DB_USERNAME:-test}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-test}
    ports:
      - "5432:5432"
    volumes:
      - auth_db_data:/var/lib/postgresql/data

volumes:
  auth_db_data: