services:
  auth_database:
    container_name: auth-postgres
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${DB_NAME?missing db name}
      POSTGRES_USER: ${DB_USERNAME?missing db username}
      POSTGRES_PASSWORD: ${DB_PASSWORD?missing db password}
    ports:
      - "${DB_PORT?missing db port}:5432"
    volumes:
      - auth_db_data:/var/lib/postgresql/data

volumes:
  auth_db_data: