apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: auth
spec:
  replicas: 2

  selector:
    matchLabels:
      app: auth-app

  template:
    metadata:
      labels:
        app: auth-app
    spec:
      serviceAccountName: {{ .Values.auth.serviceAccount.name }}
      containers:
       - name: auth-app
         image: "{{ .Values.auth.image.repository }}:{{ .Values.auth.image.tag }}"
         ports:
          - containerPort: {{ .Values.auth.port }}
         envFrom:
         - configMapRef:
             name: app-config
         - secretRef:
             name: secrets