apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: auth
spec:
  replicas: 2

  selector:
    matchLabels:
      app: auth-app

  template:
    metadata:
      labels:
        app: auth-app
    spec:
      serviceAccountName: eks-service-account # make helm value
      containers:
       - name: auth-app
         image: 758280076486.dkr.ecr.eu-central-1.amazonaws.com/focusboard/auth:latest